<div class="col-lg-12 text-center">
  <div class="widget-next-match">
    <table class="table custom-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Stadium Name</th>
          <th>Stadium Capacity</th>
          <th>Stadium Country</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let m of stadiumsTab">
          <td>{{m._id}}</td>
          <td><strong class="text-white">{{m.name}}</strong></td>
          <td>{{m.capacity}}</td>
          <td>{{m.country}}</td>
          <td>
            <button class="btn btn-success" (click)="displayStadium(m._id)" >Display</button>
            <button class="btn btn-warning mx-3" (click)="updateStadium(m._id)" >Update</button>
            <button class="btn btn-danger" (click)="deleteStadium(m._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>